.orange-class {
    background-color: #ffa500 !important; /* Orange */
    color: black !important;
    padding: 0.25rem;
    border-radius: 4px;
    display: block;
    width: 100%;
    text-align: center;
}
.pagination-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 1rem;
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.page-info {
    font-weight: 500;
    font-size: 0.95rem;
}

.dropdown-scrollable {
    max-height: 100px; /* ~30px * 5 rows */
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}